body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: whitesmoke;
}

@keyframes titleChange {
  0% {
    color: black;
  }
  25% {
    color: tomato;
  }
  50% {
    color: teal;
  }
  75% {
    color: burlywood;
  }
  100% {
    color: thistle;
  }
}

.title {
  text-align: center;
  margin-top: 10px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  animation: titleChange 7.5s linear infinite alternate;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 500px;
}

.box {
  width: 200px;
  height: 300px;
  margin: 10px;
  outline: hidden;
  border: 5px solid white;
}

.box--tomato {
  background-color: tomato;
  transition: all 2s ease-in-out;
}

.box--tomato:hover {
  background-color: rgba(255, 99, 71, 0.3);
}

.box--teal {
  background-color: teal;
  transition: all 2s ease-in-out;
}

.box--teal:hover {
  background-color: rgba(0, 128, 128, 0.3);
}

.box--burlywood {
  background-color: burlywood;
  transition: all 2s ease-in-out;
}

.box--burlywood:hover {
  background-color: rgba(222, 184, 135, 0.3);
}

.box--thistle {
  background-color: thistle;
  transition: all 2s ease-in-out;
}

.box--thistle:hover {
  background-color: rgba(217, 191, 217, 0.3);
}

.box__color-container {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  padding: 5px;
  position: relative;
  top: 30px;
}

.color-name--tomato,
.color-code--tomato {
  color: tomato;
}

.color-name--teal,
.color-code--teal {
  color: teal;
}

.color-name--burlywood,
.color-code--burlywood {
  color: burlywood;
}

.color-name--thistle,
.color-code--thistle {
  color: thistle;
}
