body {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.outer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: wheat;
  border: 3px solid black;
  transition: all 2s ease-in-out;
}

.outer-box:active {
  background-color: aquamarine;
  border-color: wheat;
  border-width: 5px;
}

.outer-box__inner-square {
  width: 50px;
  height: 50px;
  background-color: teal;
  border: 5px solid whitesmoke;
  transition: all 2s ease-in-out;
}

.outer-box__inner-rectangle {
  width: 200px;
  height: 50px;
  background-color: teal;
  border: 3px dashed whitesmoke;
  transition: all 2s ease-in-out;
}

.outer-box__inner-square:hover {
  background-color: yellow;
  border-color: tomato;
}

.outer-box__inner-rectangle:hover {
  background-color: white;
  border-color: teal;
  border-style: solid;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  text-align: center;
}
