:root {
  --background-color: #6bbcbe;
  --element-color: white;
  --default-font-family: 'Times New Roman', Times, serif;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes rainbowBackground {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}

@keyframes circleLeft {
  0% {
    transform: rotate(0deg) translateX(60px);
  }

  50% {
    transform: rotate(180deg) translateX(60px);
  }

  100% {
    transform: rotate(360deg) translateX(60px);
  }
}

@keyframes circleRight {
  0% {
    transform: rotate(0deg) translateX(-60px);
  }

  50% {
    transform: rotate(180deg) translateX(-60px);
  }

  100% {
    transform: rotate(360deg) translateX(-60px);
  }
}

@keyframes circleAnimation {
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

@keyframes circleAnimationReverse {
  50% {
    transform: rotate(-0.5turn);
  }
  100% {
    transform: rotate(-0.5turn);
  }
}

@keyframes barWave {
  0%,
  100% {
    transform: scaleY(1);
    animation-delay: 0.5s;
  }

  25%,
  75% {
    transform: scaleY(1.5);
    animation-delay: 0.5s;
  }

  50% {
    transtransform: scaleY(1.75);
    animation-delay: 0.5s;
  }
}

html {
  height: 100vh;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-family: var(--default-font-family);
  animation: rainbow 5s linear infinite alternate;
}

.title::first-letter {
  font-size: 200%;
  text-transform: uppercase;
}

.title:hover {
  animation-play-state: paused;
}

.circle-container,
.bar-container {
  width: 100px;
  margin-top: 50px;
}

.circle-container {
  display: flex;
  justify-content: space-around;
  animation: circleAnimation 1.5s ease-in-out infinite;
  margin-bottom: 50px;
}

.circle-container:hover {
  animation: circleAnimationReverse 1.5s ease-in-out infinite;
}
.circle-container:hover .circle {
  animation: rainbowBackground 1.5s ease-in-out infinite alternate;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--element-color);
}

.bar-container {
  display: flex;
  justify-content: space-around;
}

.bar {
  width: 15px;
  height: 100px;
  background-color: var(--element-color);
  animation: barWave 1s cubic-bezier(0.6, 0.05, 0.43, 0.99) infinite alternate;
}

.bar:nth-child(2) {
  animation-delay: 0.1s;
}

.bar:nth-child(3) {
  animation-delay: 0.2s;
}

.bar:nth-child(4) {
  animation-delay: 0.3s;
}

.bar:nth-child(5) {
  animation-delay: 0.4s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
