/* user-interaction container*/
.user-interaction {
  display: flex;
  justify-content: space-around;
}

.user-interaction__shuffle {
  color: white;
  background-color: black;
  border: var(--default-boder);
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 3px 10px 10px var(--blur-black);
}

.user-interaction__like {
  color: black;
  background-color: white;
  border: var(--default-boder);
  border-color: white;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 3px 10px 10px var(--blur-black);
}
